<div class="container">

  <ng2-nav></ng2-nav>

  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">在线用户</div>
            <div class="panel-body">
              <div id="UserArray" class="list-group">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">群组</div>
            <div class="panel-body">
              <div class="list-group">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <ul id="Chatting" class="nav nav-pills" role="tablist"></ul>
            </div>
            <div class="panel-body" style="height:450px;overflow-x:auto">
              <div>
                <div id="ChattingContent" class="tab-content">
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <div class="input-group">
                <input id="Text" type="text" class="form-control" placeholder="即时消息">
                <span class="input-group-btn">
                                    <button class="btn btn-default" onclick="SendMessage()" type="button">发送</button>
                                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="CreateUser" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">输入用户名</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="IUser" placeholder="张三" value="张三">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="CreateUser()">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>